
.audi{
    font-size:30px;
    font-weight:700;
}
.osn{
    font-size:25px;
    font-weight:600;
}
.spi{
    font-size: 20px;
    font-weight: 400;
}
.mers{
    font-size:30px;
    font-weight:700;
}
.osn2{
    font-size:25px;
    font-weight:600;
}
.spi2{
    font-size: 20px;
    font-weight: 400;
}
.volks{
    font-size:30px;
    font-weight:700;   
}
.osn3{
    font-size:25px;
    font-weight:600;
}
.spi3{
    font-size: 20px;
    font-weight: 400;
}